.container-card {
  display: flex;
  padding: 0.5rem 0;
}

.content-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 350px;
  max-height: auto;
  margin: 0 0.7rem;
}
